In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns
%matplotlib inline

In [4]:
# Load the data
train_base_sum = pd.read_csv("./data/train/base_train_sum.csv", encoding="gbk")
train_knowledge_sum = pd.read_csv("./data/train/knowledge_train_sum.csv", encoding="gbk")
train_money_report_sum = pd.read_csv("./data/train/money_report_train_sum.csv", encoding="gbk")
train_year_report_sum = pd.read_csv("./data/train/year_report_train_sum.csv", encoding="gbk")
verify_base = pd.read_csv("./data/verify/base_verify1.csv", encoding="gbk")
verify_money_info = pd.read_csv("./data/verify/money_information_verify1.csv", encoding="gbk")
verify_paient_info = pd.read_csv("./data/verify/paient_information_verify1.csv", encoding="gbk")
verify_year_report = pd.read_csv("./data/verify/year_report_verify1.csv", encoding="gbk")

In [5]:
type(train_base_sum)

pandas.core.frame.DataFrame

In [8]:
train_base_sum

            ID    注册时间    注册资本     行业  区域     企业类型 控制人类型  控制人持股比例  flag
0           28  2007.0  2050.0  交通运输业  福建  农民专业合作社  企业法人      NaN   1.0
1          230  2008.0  3360.0    服务业  广东  农民专业合作社  企业法人     1.00   1.0
2          429  2005.0  9670.0     工业  江西  集体所有制企业   自然人     0.75   1.0
3          693  2011.0  8360.0   社区服务  山东   股份有限公司  企业法人     0.98   1.0
4          727  2001.0  8720.0    零售业  江西   股份有限公司  企业法人     0.54   1.0
...        ...     ...     ...    ...  ..      ...   ...      ...   ...
15045  5978029  2014.0   460.0  交通运输业  广西  农民专业合作社  企业法人     0.71   NaN
15046  5978030  2004.0  1140.0  商业服务业  湖南   有限责任公司   自然人     0.95   NaN
15047  5978031  2008.0  3290.0  交通运输业  湖南  集体所有制企业   自然人     0.63   NaN
15048  5978032  2009.0  6060.0     工业  福建  农民专业合作社  企业法人     0.51   NaN
15049  5978033  2002.0  6960.0    零售业  湖南     合伙企业   自然人     0.63   NaN

[15050 rows x 9 columns]

In [9]:
train_money_report_sum.describe()

,ID,year,债权融资额度,债权融资成本,股权融资额度,股权融资成本,内部融资和贸易融资额度,内部融资和贸易融资成本,项目融资和政策融资额度,项目融资和政策融资成本
count,4.515000e+04,44718.000000,44703.000000,44728.000000,44723.000000,44705.000000,4.469400e+04,44660.000000,44707.000000,44672.00000
mean,3.527927e+06,2016.000291,3324.894683,265.460206,5239.169778,209.089829,2.631515e+04,1577.002983,1036.692688,62.34379
std,2.622168e+06,0.816629,8898.356276,710.601447,18358.861041,732.923824,8.030627e+04,4813.302947,3049.402336,183.08944
min,2.800000e+01,2015.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000
25%,8.035730e+05,2015.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000
50%,5.970482e+06,2016.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.00000
75%,5.974260e+06,2017.000000,0.000000,0.000000,0.000000,0.000000,5.532750e+02,28.080000,63.000000,3.91350
max,5.978033e+06,2017.000000,84745.000000,6779.600000,326340.000000,13053.600000,1.126080e+06,67564.800000,38930.000000,2335.80000

In [10]:
train_knowledge_sum.describe()

                 ID            专利            商标           著作权
count  1.505000e+04  14899.000000  14895.000000  14911.000000
mean   3.527931e+06      0.348480      0.356764      0.367447
std    2.622221e+06      0.476505      0.479060      0.482126
min    2.800000e+01      0.000000      0.000000      0.000000
25%    8.036028e+05      0.000000      0.000000      0.000000
50%    5.970482e+06      0.000000      0.000000      0.000000
75%    5.974260e+06      1.000000      1.000000      1.000000
max    5.978033e+06      1.000000      1.000000      1.000000

In [12]:
train_knowledge_sum.head(3)

    ID   专利   商标  著作权
0   28  0.0  1.0  1.0
1  230  0.0  0.0  0.0
2  429  1.0  0.0  0.0